* {
  margin: 0;
  box-sizing: border-box;
}

body {
display :flex;
 background: url("../images/3cec913f22914537ceb0638ef7b39574.jpg");

  height: 100vh;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

h1 {
  padding: 0.3em 0em 0.3em;

  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: rgb(216, 9, 216); /* Used if the image is unavailable */
  }
}
