.Introduction {
  font-size: 2.5rem;
  color: white;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;

  /* border:1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;
}
.App-logo {
  height: 50vmin;
  pointer-events: none;
}


.myReact {
  color: rgb(253, 250, 250);
  background: rgb(235, 81, 81);
  padding-left: 0.3em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects {
  background: rgb(70, 69, 69);
  border-bottom: solid 0.3em white;
  font-family: "Major Mono Display", monospace;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.personal {
  /* padding:0.2em; */
  position: absolute;
  /* display: inline-block; */
  color: black;
  background: white;
  z-index: -2;
}

/* MediaQueries */

@media (max-width: 600px) {
  * {
    margin: 0;
  }
  .Introduction {
    flex-direction: column;
  }
  
  .personal {
    visibility: hidden;
  }
  
  .myReactDiv,
  .projectsDiv {
    width: 100vw;
    height: 50vh;
  }
  .myReact {
    min-width: 100vw;
    font-size: 1.3em;
    height: 50vh;
  }
  .projects {
    width: 100vw;
    font-size: 0.6em;
    height: 50vh;
  }
  
  .myReact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .App-logo {
    position: absolute;
    display: inline-block;
    top:60%;
    height: 30vmin;
    
    pointer-events: none;
  }
  .App-link {
    color: #c5cbcc;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}