* {
  margin: 0;
}
.projectsContainer {
  /* background: rgb(246, 245, 245); */

  width: 100vw;
  height: 100vh;
}
.projectContent {
  padding: 1em;
  background: rgb(252, 169, 17);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectsTiTle {
  font-size: 4.5rem;

  color: rgb(5, 4, 4);
  font-family: "Major Mono Display", monospace;
  
}

@media (max-width: 900px) {


  .projectContent {
   
    background: rgb(252, 169, 17);
    height:150%;
    background-size: cover;
  }
  .projectsTiTle {
    font-size: 2.5rem;
    
  }
}





@media (max-width: 320px) {
  .projectsContainer {
    /* background: rgb(246, 245, 245); */
  
    width: 100vw;
    height: 100%;
  }
  .projectsTiTle {
    font-size: 1.8rem;
    
  }
  .projectContent {
   
    background: rgb(252, 169, 17);
    height: 110%;
  }
}
